# Development dependencies
-r requirements.txt

# Testing tools (additional to those in backend/requirements.txt)
selenium==4.15.2
webdriver-manager==4.0.1
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-xdist==3.3.1
faker==20.1.0

# Linting and formatting
black==23.11.0
flake8==6.1.0
isort==5.12.0
mypy==1.7.0
pylint==3.0.2
bandit==1.7.5

# Type checking
types-requests==2.31.0.10
types-python-jose==3.3.4.8
types-passlib==1.7.7.13

# Documentation
mkdocs==1.5.3
mkdocs-material==9.4.8
mkdocstrings==0.23.0
mkdocstrings-python==1.7.3

# Development tools
ipython==8.17.2
debugpy==1.8.0
pre-commit==3.5.0
watchdog==3.0.0
