{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }}
*Description:* {{ .Annotations.description }}
*Severity:* {{ .Labels.severity }}
*Value:* {{ .ValueString }}
*Started:* {{ .StartsAt | since }}
{{ if .EndsAt }}*Ended:* {{ .EndsAt | since }}{{ end }}
{{ end }}
{{ end }}
